<html>

<head>
    <title>
        J-Novel Club updates, but filtered to your favorite
    </title>
</head>

<body>
    <h1>Update for {{ this_month }}</h1>
    <input type="button" value="Previous month" onclick="location.search='?month={{ last_month }}'">
    <input type="button" value="Next month" onclick="location.search='?month={{ next_month }}'">
    <br><br>
    {% for update in data %}
    <div class="update-content">
        {{ update.name }}<br>
        {{ update.details }}<br>
        {% if update.released %}
        Released at <a href="{{ update.linkFragment }}">{{ update.linkFragment }}</a>
        {% else %}
        Will be released on {{ update.date }}
        {% endif %}
        <br>--------------------------------<br>
    </div>
    {% endfor %}
    <br>
    Want to save this list as default? Use <a href="{{ setcookie_url }}">this</a> link:
    <br>
    Or visit <a href="/set/">this link</a> to modify your default list.
    <br>
    Share this list: <a href="{{ quickview_url }}">{{ quickview_url }}</a>
    <br>
    Follow this list via <a href="{{ rss_url }}">RSS</a>.
</body>

</html>