<html>

<head>
    <title>
        Set the series you want to follow
    </title>
</head>

<body>
    <script type="application/javascript">
        function gatherAllSeries() {
            series = ""
            Array.from(document.getElementsByClassName("titleCheckbox")).forEach(ch => {
                if (ch.checked) {
                    series += ch.value + ' ';
                }
            });
            return series
        }
        function submit() {
            location.search = '?series=' + gatherAllSeries();
        }
        function showLinks() {
            linksDiv = document.getElementById("links")
            allSeries = gatherAllSeries();
            rssLink = location.origin + '/rss/' + allSeries
            shareableLink = location.origin + '/series/' + allSeries
            linksDiv.innerHTML = '<a href="' + shareableLink + '">Shareable link</a> and <a href="' + rssLink + '">RSS link</a>'
            linksDiv.hidden = false
        }
    </script>
    {% for series in series_list %}
    <input type="checkbox" class="titleCheckbox" value="{{ series.value }}" {{series.checked}}>
    <a href="http://{{ bookmark_url }}{{ series.value }}">{{series.title}}</a>
    <br>
    {% endfor %}
    <br>
    <input type="button" value="Save" onclick="submit()">
    <input type="button" value="Generate shareable and RSS links" onclick="showLinks()">
    <span id="links" hidden></span>
</body>

</html>